.product-card {
  display: flex;
  align-items: center;
  column-gap: 25px;
  border-radius: 10px;
  box-shadow: 0 0 4px 3px #39414447;
  padding: 10px;
  margin: 15px;
  color: #394144;
  min-height: 190px;

  &:hover {
    color: rgb(24, 22, 22);
  }
  img {
    width: 260px;
  }

  h3 {
    font-weight: 700;
    font-size: 23px;
    line-height: 1;
  }
  .year {
    font-weight: 600;
    margin-top: -5px;
    margin-bottom: 8px;
  }
  .price {
    font-style: italic;

    .price span {
      font-size: 130%;
      font-weight: 900;
      font-style: normal;
    }

    .brand-name {
      font-weight: 500;
      text-transform: uppercase;
      background: #ff99c0;
      display: inline-block;
      color: #fff;
      padding: 0px 13px;
      margin-top: 7px;
    }
  }
}
