.banner {
  background-color: #ec488f;
  padding: 80px;

  .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    h1 {
      color: #fff;
      font-size: 45px;
      font-weight: 900;
      line-height: 1;
    }
    h3 {
      color: #fff;
      font-size: 26px;
      font-weight: 300;
    }

    .search-box {
      width: 85%;
      margin: 25px 0;
      input {
        width: 100%;
        border: none;
        padding: 20px;
        border-radius: 17px;
        font-weight: 700;
        color: #394144;
      }
      input[type='submit'] {
        background: #a53264;
        color: #fff;
        margin-top: 12px;

        &:hover {
          background: #c16f92;
        }
      }
    }
  }
}
